*.csv
.DS_Store
/.direnv/
/.idea/
/mp2-v1/mp2.params
/mp2-v1/test-contracts/broadcast
/mp2-v1/test-contracts/cache
/mp2-v1/test-contracts/out
/target

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
